html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, hsl(207 100% 25% / 1) 20%, hsl(207 75% 50% / 1) 100%);
  background-color: hsl(207 75% 50% / 1);
  background-repeat: no-repeat;
}

#website-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 24px 0;
}

#website-content h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

body * {
  font-size: 1.06rem;
  font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  padding: 8px 12px;
  border: 1px solid #444;
  background: white;
  cursor: pointer;
  white-space: nowrap;
}

button:hover {
  background: #f0f0f0;
}

@media (max-width: 992px) {
  #website-content {
    padding: 12px 0;
  }
}
