.login-container {
	background-color: white;
	padding: 40px;
	border: 1px solid var(--ml-borda);
	border-radius: var(--ml-raio);
	box-shadow: var(--ml-sombra);
	max-width: 600px;
	margin: auto;
	min-width: 30%;
}

.login-container input {
	min-width: 140px;
}

.login-container input[type="checkbox"] {
	min-width: 0;
	margin: 0.5rem 0 0.5rem 0;
	width: 1.1rem;
	min-height: 1.1rem;
	line-height: 1.1rem;
}

.login-container input, .login-container button {
	margin-bottom: 6px;
	padding: 8px;
	border: 1px solid var(--ml-borda);
	border-radius: 0;
}

.register-link {
	margin-top: 20px;
}

@media (max-width: 992px) {
	.login-container {
		max-width: 100%;
	}
	
	.login-container input {
		width: stretch;
	}
	.login-container input, button {
		min-height: 2.5rem;
		line-height: 2.5rem;
	}
	
	.login-container input[type="checkbox"] {
		width: 2rem;
		min-height: 2rem;
		line-height: 2rem;
	}
	
	.login-container label {	
		min-height: 2rem;
		line-height: 3rem;
		vertical-align: top;
	}
}